.Lottery-Box{
  display: inline-block;
  margin-left: 25%;
  background-color: aliceblue;
  width: 400px;
  height: 150px;
}

.CircleForNumber{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  display: table-cell;
  padding-left: 28px;
  padding-right: 5px;
}

p{
  font-weight: bold;
}

.rand-btn{
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  margin-left: 35%;
}